<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="CSCB20 Course Website Assignments Page">
<title>CSCB20</title>
<!-- STYLES -->
<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<link rel="stylesheet" type="text/css" href="../static/css/login.css">

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="header">
	<div class="title"><b>CSCB20 - Introduction to Databases and Web Applications</b></div>
</div>

<div class="page-header"><div class="welcome_text"><b>Welcome to the class! Let's get your account setup</b></div></div>
<div class="page">
	<div class="content-box">
		<div class="page-titles"><b>Register an account</b></div>
		<div align = center>Please fill in the fields. All fields are mandatory.<br><br>
			<form method="POST">
				<label for="utorid"><b>UTOR ID <br> (You will be using this to login)</b></label> <br>
				<input class="loginbox" type="text" placeholder="Enter UTORid" name="utorid" id="utorid" required>
				<br>
				<label for="snum"><b>Student Number</b></label> <br>
				<input class="loginbox" type="text" pattern="[0-9]{9,10}" placeholder="Enter Student Number" name="snum" id="snum" required>
				<br>
				<label for="name"><b>Full Name</b></label> <br>
				<input class="loginbox" type="text" placeholder="Enter Full Name" name="name" id="name" required>
				<br>
				<label for="pw"><b>Password</b></label> <br>
				<input class="loginbox" type="password" placeholder="Enter Password" name="pw" id="pw" required>
				<br>
				<label for="pw"><b>Confirm Password</b></label> <br>
				<input class="loginbox" type="password" placeholder="Enter Password Again" name="c-pw" id="c-pw" required>
				<br>
				<div id="acc-type" name="acc-type">
					<input type="radio" id="student-acc" name="acc-type" value="student" onclick="change_required(this)" required>
					<label for="student-acc"> New Student Account</label>
					<input type="radio" id="instructor-acc" name="acc-type" value="instructor" onclick="change_required(this)">
					<label for="instructor-acc"> New Instructor Account</label><br>
				</div>
				<input class="login-button" type="submit" name="l-btn" id="l-btn" onclick="" value="Sign Up"></button> <br>
			</form>
			Already have an account? <a href="login">Login here</a>
		</div>
	</div>

</div>
{% include 'footer.html' %}
</body>

<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../static/js/responsive.js"></script>
<script src="../static/js/required.js"></script>
</html>