<div class="header-fixed" id="fixed-header">
	<div class="nav" id="nav-menu">
		<a href="javascript:void(0);" class="icon" onclick="r()">
			<i class="fa fa-bars"></i>
		</a>
		<a class="nav-elem"><img src="../static/assets/b.png"></a>
		<a href="index" class="nav-text">COURSE WEBSITE HOME</a>
		<a class="nav-elem"><img src="../static/assets/b.png"><a>
		<a href="student-home" class="nav-text">MY GRADES</a>
		<a class="nav-elem"><img src="../static/assets/b.png"><a>
		<a href="student-feedback" class="nav-text">STUDENT FEEDBACK</a>
		<a class="nav-elem"><img src="../static/assets/b.png"></a>
		<a href="" class="nav-text logout-text">LOGOUT</a>
        <a class="nav-elem"><img src="assets/b.png"></a>
	</div>
</div>