<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="CSCB20 Course Website Assignments Page">
<title>CSCB20</title>
<!-- STYLES -->
<link rel="stylesheet" type="text/css" href="../static/css/main.css">

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="header">
	<div class="title"><b>CSCB20 - Introduction to Databases and Web Applications</b></div>
</div>

{% include 'student-nav.html' %}

<div class="page-header"><div class="welcome_text"><b>Welcome to your student page, <div class="dyn-text" id="acc-name">dynamic text</div></b></div></div>
<div class="page">
<div class="content-box">
	<div class="page-titles"><b>Current Grades for <div class="dyn-text" id="acc-name">dynamic text</div></b></div>
	<div align="center">
		<div><div class="assignment-header"><b>Term Test 1</b></div><br>
			<b>Grade:</b> <div class="dyn-text" id="tt1-grade">dynamic text</div> <br><button class="regrade-button" type="submit" name="regrade-tt1" id="regrade-tt1" onclick="window.location.href = 'regrade.html';">Regrade Request</button><br><br> 
		</div><br><br>
		<div><div class="assignment-header"><b>Term Test 2</b></div><br>
			<b>Grade:</b> <div class="dyn-text" id="tt2-grade">dynamic text</div> <br><button class="regrade-button" type="submit" name="regrade-tt2" id="regrade-tt2" onclick="window.location.href = 'regrade.html';">Regrade Request</button><br><br> 
		</div><br><br>
		<div><div class="assignment-header"><b>Term Test 3</b></div><br>
			<b>Grade:</b> <div class="dyn-text" id="tt3-grade">dynamic text</div> <br><button class="regrade-button" type="submit" name="regrade-tt3" id="regrade-tt3" onclick="window.location.href = 'regrade.html';">Regrade Request</button><br><br> 
		</div><br><br>
		<div><div class="assignment-header"><b>Assignment 1</b></div><br>
			<b>Grade:</b> <div class="dyn-text" id="a1-grade">dynamic text</div> <br><button class="regrade-button" type="submit" name="regrade-a1" id="regrade-a1" onclick="window.location.href = 'regrade.html';">Regrade Request</button><br><br> 
		</div><br><br>
		<div><div class="assignment-header"><b>Assignment 2</b></div><br>
			<b>Grade:</b> <div class="dyn-text" id="a2-grade">dynamic text</div> <br><button class="regrade-button" type="submit" name="regrade-a2" id="regrade-a2" onclick="window.location.href = 'regrade.html';">Regrade Request</button><br><br> 
		</div><br><br>
		<div><div class="assignment-header"><b>Assignment 3</b></div><br>
			<b>Grade:</b> <div class="dyn-text" id="a3-grade">dynamic text</div> <br><button class="regrade-button" type="submit" name="regrade-a3" id="regrade-a3" onclick="window.location.href = 'regrade.html';">Regrade Request</button><br><br> 
		</div><br><br>
		<div><div class="assignment-header"><b>Final Exam</b></div><br>
			<b>Grade:</b> <div class="dyn-text" id="exam-grade">dynamic text</div> <br><button class="regrade-button" type="submit" name="regrade-ex" id="regrade-ex" onclick="window.location.href = 'regrade.html';">Regrade Request</button><br><br> 
		</div><br><br>
	</div>
</div>
</div>

</div>
{% include "footer.html" %}
</body>

<!-- JS -->
<script src="../static/js/header.js"></script>
<script src="../static/js/responsive.js"></script>
</html>