<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="CSCB20 Course Website Assignments Page">
<title>CSCB20</title>
<!-- STYLES -->
<link rel="stylesheet" type="text/css" href="../static/css/main.css">

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="header">
	<div class="title"><b>CSCB20 - Introduction to Databases and Web Applications</b></div>
</div>
{% include 'navigation.html' %}


<div class="page-header"><div class="welcome_text"><b>Course Team</b></div></div>
<div class="page">
<div class="content-box">
	<div class="page-titles"><b>CSCB20 Team</b></div>
	<div class="member">
	<img src="../static/assets/p.png"> <br><br> <b>Anna Bretscher</b><br> IC 493<br> Monday 9-11 am 
	</div>
	<div class="member">
	<img src="../static/assets/p.png"> <br><br> <b>Vidya Ananda</b><br> HW 216<br> Monday 3-4 pm 
	</div>
	<div class="member">
	<img src="../static/assets/p.png"> <br><br> <b>Brian Lam</b><br> SW 309<br> Monday 1-2 pm
	</div>
	<div class="member">
	<img src="../static/assets/p.png"> <br><br> <b>Dharmik Shah</b><br> SW 216<br> Monday 1-2 pm
	</div>
	<div class="member">
	<img src="../static/assets/p.png"> <br><br> <b>Frederic Pun</b><br> SY 110<br> Monday 1-2 pm
	</div>
</div>
</div>

</div>
{% include 'footer.html' %}
</body>

<!-- JS -->
<script src="../static/js/header.js"></script>
<script src="../static/js/responsive.js"></script>
</html>